{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-3">
			<h3>Categories</h3>
			{% for category in categories %}
				<a href = "{{url_for('showCategoryDetails', name = category.name)}}">
					<div class="text-bold">{{category.name}}</div>
				</a>
			{% endfor %}
	    </div>
	    <div class="col-md-7">
	    	<h3>Latest Items</h3>
			{% for item in items %}
				<a href = "{{url_for('showItemDetails', name = item.category.name, title=item.title)}}">
					<div class="text-bold">{{item.title}} <span class="text-gray">({{item.category.name}})</span></div>
				</a>
			{% endfor %}

			{% with messages = get_flashed_messages() %}
			{% if messages %}		
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
	    </div>
	    <div class="col-md-2 text-right">
	    	{% if g.user %}		
				<a class="btn btn-outline-dark btn-sm" href="{{url_for('newItem')}}" role="button">Add New Item</a>
			{% endif %}
	    </div>
	</div>
{% endblock %}