<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js" async defer>
</script>
<meta name="google-signin-client_id" content="590683384939-r4c3lt2tci6aood05r4rpebbfgmg2f5l.apps.googleusercontent.com">

<div class="w-100 navbar-dark bg-dark">
  <div class="container">
    <nav class="navbar pl-0 pr-0">
      <a href="{{url_for('showCatalog')}}" class="h1">Catalog App</a>
      <div id="signinButton">
      <span 
        class="g-signin2">
      </span>
    </div>
    </nav>
  </div>
</div>