<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js" async defer>
</script>
<meta name="google-signin-client_id" content="590683384939-r4c3lt2tci6aood05r4rpebbfgmg2f5l.apps.googleusercontent.com">

<div class="w-100 navbar-dark bg-dark">
  <div class="container">
    <nav class="navbar pl-0 pr-0">
      <a href="{{url_for('showCatalog')}}" class="h1">Catalog App</a>
      {% if g.user %}
      <a class="btn btn-outline-light" href="{{url_for('gdisconnect')}}" role="button">Logout</a>
      {% else %}
        <div id="signinButton">
          <span 
            class="g-signin2">
          </span>
        </div>
      {% endif %}
    </div>
    </nav>
  </div>
</div>
<script>
  function signInCallback(authResult) {
    if (authResult['code']) {
      // Hide the sign-in button now that the user is authorized
      $('#signinButton').attr('style', 'display: none');

      // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{g.STATE}}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.
          if (result) {
            window.location.href = "{{url_for('showCatalog')}}";
          } else if (authResult['error']) {
            console.error('There was an error: ' + authResult['error']);
          } else {
            console.error('Failed to make a server-side call. Check your configuration and console.');
          }
        }
      });
    }
  }

  $('#signinButton').click(function() {
    gapi.auth2.getAuthInstance().grantOfflineAccess().then(signInCallback);
  });
</script>
